<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yodoo.megalodon.permission.mapper.MenuMapper">
    <resultMap id="BaseResultMap"
               extends="com.yodoo.megalodon.permission.common.BaseMapper.baseCommonResultMap"
               type="com.yodoo.megalodon.permission.entity.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_target" jdbcType="VARCHAR" property="menuTarget"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, parent_id, menu_code, menu_name, menu_target, order_no,
        <include refid="com.yodoo.megalodon.permission.common.BaseMapper.baseCommonColumn"/>
  </sql>

</mapper>