<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yodoo.megalodon.permission.mapper.UserMapper">
    <resultMap id="BaseResultMap"
               extends="com.yodoo.megalodon.permission.common.BaseMapper.baseCommonResultMap"
               type="com.yodoo.megalodon.permission.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="post" jdbcType="VARCHAR" property="post"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, parent_id, account, name, password, email, region, post, sex, birthday, phone, status,
        <include refid="com.yodoo.megalodon.permission.common.BaseMapper.baseCommonColumn"/>
  </sql>

    <select id="selectUserNotInIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id NOT IN
        <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where ${operator}
    </select>

</mapper>