<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yodoo.megalodon.permission.mapper.UserGroupPermissionDetailsMapper">
    <resultMap id="BaseResultMap"
               type="com.yodoo.megalodon.permission.entity.UserGroupPermissionDetails">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_group_id" jdbcType="INTEGER" property="userGroupId"/>
        <result column="permission_group_id" jdbcType="INTEGER" property="permissionGroupId"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_group_id, permission_group_id, create_user, create_time, update_user, update_time
  </sql>

</mapper>